<div class="text-center">

	<h1>Web Mad Doctors - Web MD!</h1>
	<img src="https://pbs.twimg.com/profile_images/817369685192605696/iWkgUdBf.jpg" alt="Doctor Strange">
	<h2>Wow! You're sick! It's probably cancer!</h2>
	<p>Come test the knowledge of our experts! We're usually right...</p>
</div>
