<!doctype html>
<html>
    <head>
        <title>Web MD</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body>
			<div class="container">
				<%- body %>
				<hr>
				<div class="text-center">
					<a href="/" class="btn btn-primary">Home</a>
					<a href="/diseases" class="btn btn-warning">Diseases</a>
					<a href="/symptoms" class="btn btn-success">Symptoms</a>
					<a href="/diseases/add" class="btn btn-success btn-sm">Invent Disease</a>
					<a href="/symptoms/add" class="btn btn-info btn-lg">Enter Symptom</a>
				</div>
  		</div>
    </body>
</html>
